#cartItems .cartItem{
    border-bottom:1px solid #DDD;
    padding-top:15px;
    padding-bottom:15px;
}
#cartItems .cartItem .productPicture{
    width: 100%;
    height: auto;
}

#cartItems .preis{
    font-weight: bold;
}

#cartItems .cartItemHeader{
    border-bottom:1px solid #DDD;
    padding-bottom:15px;
}

.pdf-container{
    width: 21cm;
    height: 29.7cm;
    position: relative;
    z-index: 1;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  
  .card {
    display: flex;
    width: auto;
    height:100%
  }